doctype html
html(lang="en")
  head
    title="proxier"
    meta(charset="utf-8")

  body
    #APP
    script(
      type="text/javascript",
      data-main="./index.js"
      src="../../../../node_modules/requirejs/require.js"
    )
    script 
      |require.config({
      |  paths: {
      each path, component in paths
        |"#{component}" : "../#{path}",
        | 
      |    "@emotion/core": "../../../../node_modules/@emotion/core/dist/core.umd.min",
      |    "react": "../../../../node_modules/react/umd/react.development",
      |    "react-dom": "../../../../node_modules/react-dom/umd/react-dom.development",
      | }
      |});